In [1]:
#######################
# standard code block #
#######################

%pylab inline
# see https://ipython.readthedocs.io/en/stable/interactive/magics.html

%config InlineBackend.figure_format = 'svg'

Populating the interactive namespace from numpy and matplotlib

# Introduction to Pandas

## From the Pandas Documentation:

Here are just a few of the things that pandas does well:

- Easy handling of **missing data** (represented as NaN) in floating point as well as non-floating point data
- Size mutability: columns can be **inserted and deleted** from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let Series, DataFrame, etc. automatically align the data for you in computations
- Powerful, flexible **group by** functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
- Make it **easy to convert** ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects
- Intelligent **label-based slicing**, **fancy indexing**, and **subsetting** of large data sets
- Intuitive **merging** and **joining** data sets
- Flexible **reshaping** and **pivoting** of data sets
- **Hierarchical labeling** of axes (possible to have multiple labels per tick)
- **Robust IO tools** for loading data from flat files (CSV and delimited), Excel files, databases, and saving / loading data from the ultrafast HDF5 format
- **Time series**-specific functionality: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

### 10 Minutes Intro to Pandas ###

Pandas has an official 10 minute intro.

http://pandas.pydata.org/pandas-docs/stable/10min.html

## Set Up Pandas Default Parameters

In [2]:
# imports a library 'pandas', names it as 'pd'
# this is a common convention
import pandas as pd

In [3]:
# if you run into trouble, it's often helpful to know which version you're on
print("Pandas version:", pd.__version__)
print("Numpy version:", np.__version__)

Pandas version: 0.25.0
Numpy version: 1.16.4

In [4]:
# various options in pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 3)

## Data Structures

### 1. Series

One Dimensional Array / Vector of Values (Think these as your data columns).  One important aspect of them is that they carry an "index" (which you can think of as a row indicator).

### 2. DataFrames

Think of DataFrame as a Table with Columns.  This is the workhorse of everything you will do with data analysis.  Learning Pandas and its functions can be challenging, but stick with it and ask questions.  Structurally, a DataFrame can be thought of as a collection of Series objects with the same index.

### 3. [Panel Data](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Panel.html)

Three Dimensional Arrays  (Mentioned for reference, but we will not get much into these)

## So, What is a Pandas DataFrame?

In [5]:
pd.Series?

In [6]:
## Make a Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
pd.DataFrame?

In [8]:
## Make a dataframe from a numpy array
df1 = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df1

       A      B      C      D
0  0.402  0.953 -0.236  0.468
1  0.313  0.923  0.122 -1.146
2  0.967 -0.124  1.299 -0.484
3  0.060 -0.026  0.133  0.097
4 -0.261 -1.182  1.316  0.107
5 -1.108  0.607 -0.421  1.075

In [9]:
## Make a dataframe from a dictionary
df2 = pd.DataFrame({
    'A': 1.,
    'B': pd.Timestamp('20130102'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'
})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

## Load a Data Set

### "Census Income" Dataset

http://archive.ics.uci.edu/ml/  
pandas can load a lot more than csvs, this tutorial shows how pandas can read excel, sql, and even copy and paste...
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/

In [10]:
# download the data and name the columns
cols = [
    'age', 'workclass', 'fnlwgt', 'education', 'education_num',
    'marital_status', 'occupation', 'relationship', 'ethnicity', 'gender',
    'capital_gain', 'capital_loss', 'hours_per_week', 'country_of_origin',
    'income'
]

df = pd.read_csv(
    'http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',
    names=cols)
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,ethnicity,gender,capital_gain,capital_loss,hours_per_week,country_of_origin,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### Q: What's happening in the above cell?

Columns have been user defined and the data has been read from the above website. It should be in csv format from the website although the function can handle many different data types.

In [11]:
## Viewing Data

* .info() 
* .head()
* .tail()
* .columns
* .values
* .dtype

SyntaxError: invalid syntax (<ipython-input-11-a3e4c2ab07bb>, line 3)

### info

Displays the Columns, Types, Rows and the memory used by the dataframe

In [ ]:
# we can see there are no null values
# columns with numerical values are type int64, no need to set data type

df.info()

### head

Displays the first few rows in the dataframe

In [ ]:
# to view the first 5 or specify with ex: .head(10)
df.head(10)

### tail

Displays the last few rows in the dataframe

In [ ]:
df.tail()

### sample

Displays a sample of rows in the dataframe

In [ ]:
# head and tail are good.  But sometimes we want to randomly sample data
df.sample(5, random_state=42)

### Q: What do you expect to happen when you re-run the cell?

What actually happens? Why?

The same result should occur because the random function has the same input seed.

In [ ]:
### Columns

Returns a list of columns in the dataframe

In [ ]:
# view all columns of the dataframe
df.columns

### Column Types

Returns the type of each column

In [ ]:
df.dtypes

## Rename Columns

In [ ]:
df.columns

In [12]:
# replace a column name
df.rename(columns={'country_of_origin': 'native_country'}, inplace=True)
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,ethnicity,gender,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Q: What does `in_place` do above?

Instead of copying a new dataframe, inplace allows the new column name to overwrite the old one in the original dataframe.

In [ ]:
## Descriptives 

* .describe()
* .value_counts()
* .mean()
* .unique()

### describe

Displays summary statistic for each numerical column

In [ ]:
df.describe()

### value_counts

Counts the number of occurrences of each categorical value for the column

In [ ]:
df['education']

In [ ]:
type(df.education)

In [ ]:
df.education.value_counts()

## Also works for numeric columns - treating the individual values as factors

In [ ]:
type(df.education.value_counts())

In [ ]:
df.education.value_counts().plot('barh')

In [ ]:
df.hours_per_week.mean()

# Can also do:
df['hours_per_week'].mean()

### Q: What do you think we will get if we ask for the `type` of `df.hours_per_week` ?

pandas.core.series.Series

In [ ]:
### Unique

Returns the unique values for the column

In [ ]:
# there's a space before each string in this data
df.education.unique()

In [ ]:
# looks like it's in every object column
df.workclass.unique()

In [ ]:
df["education"] = df.education.str.strip()

In [ ]:
# Hurray We removed the leading space
df.education.unique()

In [ ]:
df.gender.unique()

In [ ]:
# Remove leading space in values
df["gender"] = df.gender.str.strip()

In [ ]:
df.gender.unique()

## Selecting Rows and Columns

### .loc 

* Selects row and columns by Names
* **by label**             `.loc[]`

### .iloc

* Selects row and columns by Index Position
* **by integer position**  `.iloc[]`

http://pandas.pydata.org/pandas-docs/stable/indexing.html

In [ ]:
# select a row
df.iloc[3]

In [ ]:
df.iloc[0:3]

## Note: I got 3 rows returned, similar to the indexing that applies to Python lists

In [ ]:
# select a range of rows
df.iloc[10:15]

In [ ]:
# last 2 rows
df.iloc[-2:]

In [ ]:
# selecting every other row in columns 3-5
df.iloc[::2, 2:5].head()

In [ ]:
# select a row
df.loc[0:3]

### Q: Why did I get 4 rows above here instead of 3?





Integers vs. labels!

In [ ]:
(df.loc[0:2, 'age'])

In [ ]:
df.iloc[0:2, 2:6]

## Filtering

In [ ]:
(df.age > 50)

In [ ]:
asd = df[df.age > 50].head(5)

In [ ]:
# Filter for only certain Columns
df.loc[df.age > 50, ['age', 'education', 'occupation', 'gender', 'income']]

# What happens if I try to do the same with df.iloc instead of df.loc?

In [ ]:
df[df.age > 50].head(4)

## Now Filter on Gender

In [ ]:
df.gender == 'Male'

In [ ]:
df.loc[df.gender == 'Male', ]

## Now Filter on Gender and Age Between 30 and 40

In [ ]:
(df.gender == 'Male') & (df.age >= 30) & (df.age <= 40)

In [ ]:
(df.age >= 30) & (df.gender == 'Male')

df.loc[(df.age >= 30) & (df.gender == 'Male') & (df.age <= 40), :]

## Find Nulls

In [ ]:
# as we saw with df.info() there are no nulls...
# but if there were this would find the rows where age is null
df[df.age.isnull()]

## Fill Nulls

In [ ]:
null_df = pd.DataFrame([1, 2, 4, np.nan], columns=['column1'])

In [ ]:
null_df

In [ ]:
# you can also fill nulls with a value or string
null_df.column1.fillna(1000)

In [ ]:
# fillna does not do it inplace unless you specify
null_df

In [ ]:
# you can also fill null with the median or mean value of the column
null_df.fillna(null_df.column1.median(), inplace=True)
null_df

In [ ]:
null_df.fillna('random_string')

## Drop Nulls

In [ ]:
null_df = pd.DataFrame([1, 2, 4, np.nan], columns=['column1'])
null_df

In [ ]:
null_df.dropna(how = 'any')

In [ ]:
# .isnull() and .notnull() do opposite things
null_df.isnull()

In [ ]:
null_df.notnull()

## Groupby

In [ ]:
df.groupby('relationship').count()

In [ ]:
# How to groupby column and apply a function like sum, count, or mean
df.groupby(['education']).mean()

In [13]:
df.groupby([
    'education',
    'age',
])[['hours_per_week', 'capital_gain']].mean()

                   hours_per_week  capital_gain
education     age
 10th         17           21.543       266.659
              18           27.895         0.000
              19           34.500         0.000
              20           39.400         0.000
              21           39.000       229.882
...                           ...           ...
 Some-college 81           13.000         0.000
              82           11.500         0.000
              84           35.000         0.000
              88           40.000         0.000
              90           32.833         0.000

[965 rows x 2 columns]

In [14]:
# To groupby multiple columns with multiple functions attached
df.groupby(['income', 'native_country']).age.agg(['count', 'mean'])
# grouped in order of which column is listed first

                         count    mean
income native_country
 <=50K  ?                  437  36.854
        Cambodia            12  35.667
        Canada              82  41.012
        China               55  41.800
        Columbia            57  39.228
...                        ...     ...
 >50K   Thailand             3  32.667
        Trinadad&Tobago      2  42.500
        United-States     7171  44.297
        Vietnam              5  35.400
        Yugoslavia           6  40.167

[82 rows x 2 columns]

In [15]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'ethnicity', 'gender',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [16]:
# can use the aggs function to aggregate columns separately
gb = df.groupby(['income', 'native_country'])
gb_aggs = gb.agg({'age': 'mean', 'capital_gain': 'sum'})
gb_aggs.sample(1)

                          age  capital_gain
income native_country
 <=50K  Ecuador        34.833          5387

In [17]:
# combine groupby with boolean
df[df.native_country == ' United-States'].groupby(
    ['education']).hours_per_week.mean()

education
 10th            36.915
 11th            33.682
 12th            34.951
 1st-4th         32.913
 5th-6th         36.979
 7th-8th         39.060
 9th             38.035
 Assoc-acdm      40.657
 Assoc-voc       41.633
 Bachelors       42.709
 Doctorate       47.409
 HS-grad         40.596
 Masters         44.169
 Preschool       28.118
 Prof-school     47.484
 Some-college    38.862
Name: hours_per_week, dtype: float64

## Sort
* ### sort_index() to sort by index
* ### sort_values() to sort by values

In [18]:
# groupby income and country and then sort by their mean age within each data block
df_grouped = df.groupby(['income', 'native_country']).mean().sort_values(
    'age', ascending=True)
df_grouped

# Note: In this example, the groupby, mean, and sort functions are stringed together in one line
# in the next example, we will show a different syntax so that you could write them on separate
# lines to make the code a little easier to read

                               age      fnlwgt  education_num  capital_gain  \
income native_country
 <=50K  Taiwan              29.323  181981.290         12.548        71.032
 >50K   Dominican-Republic  30.500  220226.000          9.000     49999.500
        Hong                31.500  294478.833         13.833         0.000
 <=50K  Holand-Netherlands  32.000   27882.000         10.000         0.000
        Guatemala           32.262  266016.016          5.951       116.148
...                            ...         ...            ...           ...
 >50K   Italy               50.360  185383.360         10.960      1253.040
        Poland              50.583  179314.167         11.083      2743.083
        Scotland            52.667  208306.667         10.667      1726.000
        Columbia            53.500  283410.500         15.500         0.000
        Hungary             57.333  172137.333         11.000      1726.000

                            capital_loss  hours_per_week
income native_country
 <=50K  Taiwan                    51.677          33.774
 >50K   Dominican-Republic         0.000          47.000
        Hong                     329.500          45.000
 <=50K  Holand-Netherlands      2205.000          40.000
        Guatemala                 26.131          39.361
...                                  ...             ...
 >50K   Italy                     79.080          45.400
        Poland                     0.000          39.000
        Scotland                   0.000          46.667
        Columbia                   0.000          50.000
        Hungary                    0.000          50.000

[82 rows x 6 columns]

In [19]:
# We want to group people by their income and country
# Then sort them by their income ASCE, and then sort by average age within that group DESC 
(df
 .groupby(['income','native_country'])
 .mean()
 .reset_index()
 .sort_values(['income','age'], ascending=[True,False])
)

# Note: In this example, we sort by the SAME column which we grouped by earlier 
# (eg. we first groupby 'income' and then sort by 'income')
# In this case, we must use .reset_index() to re-index the groupby objects, because the 'income' 
# column no longer exists after the groupby and hence cannot be sorted directly

,income,native_country,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
5,<=50K,Cuba,47.286,243906.229,9.043,136.986,19.714,37.986
18,<=50K,Hungary,47.000,182993.800,10.700,413.800,166.800,31.300
12,<=50K,Greece,44.667,151661.286,9.190,347.762,202.429,41.810
22,<=50K,Italy,44.375,179759.375,7.750,277.375,0.000,39.625
3,<=50K,China,41.800,175689.182,10.309,103.891,94.418,37.382
31,<=50K,Poland,41.250,185051.479,9.854,169.583,42.729,38.167
38,<=50K,Trinadad&Tobago,41.176,218778.941,8.412,0.000,137.588,37.059
2,<=50K,Canada,41.012,169279.585,10.244,110.695,145.524,37.915
32,<=50K,Portugal,40.333,153666.939,6.212,256.061,0.000,41.939
33,<=50K,Puerto-Rico,39.804,200316.010,8.108,83.980,43.078,38.471
4,<=50K,Columbia,39.228,223105.158,9.158,186.947,28.105,38.684
9,<=50K,England,38.967,185459.400,10.433,208.233,66.367,40.483
...,...,...,...,...,...,...,...,...
76,>50K,Taiwan,40.800,193354.550,14.450,5364.850,314.700,46.800
67,>50K,Mexico,40.485,302417.000,9.394,4256.394,57.182,46.576
52,>50K,France,40.167,172499.917,12.667,1116.750,0.000,50.750
81,>50K,Yugoslavia,40.167,197059.167,10.333,926.000,0.000,49.500
72,>50K,Portugal,40.000,106998.250,10.750,0.000,0.000,41.500
55,>50K,Guatemala,35.667,247825.667,7.667,2562.667,0.000,36.667
80,>50K,Vietnam,35.400,141648.400,9.600,5873.600,0.000,39.200
68,>50K,Nicaragua,34.000,399953.500,9.500,0.000,924.000,37.500
69,>50K,Peru,33.500,314562.500,11.500,0.000,924.000,40.000
77,>50K,Thailand,32.667,199784.000,12.667,0.000,0.000,58.333
58,>50K,Hong,31.500,294478.833,13.833,0.000,329.500,45.000
48,>50K,Dominican-Republic,30.500,220226.000,9.000,49999.500,0.000,47.000